body {
    font-family: arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: aliceblue;
    text-align: center;
}

header {
    background: green;
    color: white;
    padding: 15px 0; /* espaçamento interno 15px acima e abaixo, 0px à esquerda e à direita */
    font-size: 24px;
}

nav {
    background-color: rgb(31, 151, 250);
    padding: 10px;
    display: flex;
    justify-content: space-between; /* Corrigido: justify-content */
    align-items: center;
}

#links-menu {
    display: flex;
    gap: 20px;
}

/* configura o estilo das âncoras que estão dentro do nav */
nav a{
    color: white; /* texto branco */
    text-decoration: nome; /* não faz decoração no link */
    padding: 10px 15px; /* 10px é acima e abaixo 15 px é esq e dir */
    font-size: 18px;
    background:rgb(5, 48, 61);
    border-radius: 5px; 
}
nav a:hover {
    background: #003d82;
}
img { 
    width: 120px;
    height: auto;
    margin-right: 20px; /*espaçamento externo de 20px */
    border-radius: 10px;
}
.container{
 width: 80%; 
 margin: 20px auto;
 padding: 20px;
 border-radius: 10px;
 background-color: white;
 text-align: center;
}