body {
    font-family: arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    text-align: center;
}

header {
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 15px 0; /* espaçamento interno 15px acima e abaixo, 0px à esquerda e à direita */
    font-size: 24px;
}

nav {
    background-color: rgb(10, 7, 150);
    padding: 10px;
    display: flex;
    justify-content: space-between; /* Corrigido: justify-content */
    align-items: center;
}

#links-menu {
    display: flex;
    gap: 20px;
}

/* Configura o estilo das âncoras que estão dentro do nav */
nav a {
    color: white; /* Texto branco */
    text-decoration: none; /* Não faz decoração no link */
    padding: 10px 15px; /* 10px acima e abaixo, 15px à esquerda e à direita */
    font-size: 18px;
    background: rgb(19, 95, 121);
    border-radius: 5px;
}
nav a:hover {
    background: #002857;
}

img { 
    width: 120px;
    height: auto;
    margin-right: 20px; /* Espaçamento externo de 20px */
    border-radius: 10px;
}

.container {
    width: 80%; 
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    text-align: justify;
}

td {
    padding: 20px;
}

table {
    /* Esp. externo de 0 acima e abaixo e automático esq. dir. */
    margin: 0 auto;
}

.laranja {
    background-color: orange;
}

.azul {
    background-color: blue;
}

.preto {
    background-color: black;
    color: white;
}

.roxo {
    background-color: purple;
}

.verde {
    background-color: green;
}

.vermelho {
    background-color: red;
}

.campos {
    margin: 20px;
}
